<script>
    new Vue({
        el: '#signup',
        data: {
            queue:{
                name:""
            },
            err:null
        },
        created:function () {
        },
        methods:{
            createQ:function(){
                window.socket.emit("create-q",{service:window.service_id,queue:this.queue});
            }
        }
    });

    //Probaly done with vue
</script>

<div class="row">
    <style>
        #signup{
            border: 2px solid #00B0FF;
            border-radius: 5px;
        }
    </style>
    <div class="col-lg-3"></div>
    <div class="col-lg-6" id="signup">
        <div class="box box-info" >
                <div class="box-header with-border">
        <h3 class="box-title">Type in Details for your new Queue</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal">
        <div class="box-body">
            <div class="form-group">
                <div id="error_message"   class="danger">{{err}}</div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-sm-3 control-label">Queue Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputEmail" placeholder="Queue Name" v-model="queue.name">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-sm-3 control-label">Queue Location</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="location" placeholder="Queue Location" v-model="queue.location">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-sm-3 control-label">What to bring</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="requirements" placeholder="Queue What to Bring" v-model="queue.qRequirements">
                </div>
            </div>
            <div class="form-group">
                <label for="stm" class="col-sm-3 control-label">Estimated Service Time</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="stm" placeholder="estimated Service Time in Minutes" v-model="queue.est">
                </div>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-default">Cancel</button>
                <DIV type="submit" class="btn btn-info pull-right" v-on:click="createQ">Create</DIV>
            </div><!-- /.box-footer -->
        </div>
    </form>
</div>
