<script>
function loadVue() {
 new Vue({
   el: '#app',
   data: {
     agentsActive:false,
     queuesActive:false,
     issuesActive:false,
     analyticsActive:false
   },
   created:function () {
   },
   methods:{
     method1:function () {
     },
     resetActives(){
       this.agentsActive=false;
       this.queuesActive=false;
       this.issuesActive=false;
       this.analyticsActive=false;
     },
     setAgentActive(){
       this.resetActives();
       this.agentsActive=true;
       console.log("Agents Active:"+this.agentsActive);
     },
     setQueuesActive(){
       this.resetActives();
       this.queuesActive=true;
       console.log("Agents Active:"+this.agentsActive);
     },
     setIssuesActive(){
       this.resetActives();
       this.issuesActive=true;
       console.log("Agents Active:"+this.agentsActive);
     },
     setAnalytisActive(){
       this.resetActives();
       this.analyticsActive=true;
       console.log("Agents Active:"+this.agentsActive);
     }
   },
   computed:{
     b:function () {
       return this.method1();
     }
   }
 })
}

    $('.menu').click(function(){
        //this.addClass('selected')
    });

    (function(){
      loadVue();
        window.socket.on('service',(serv)=>window.service);
        window.socket.emit("get-service",window.service_id);

    })()

    function logout() {
        window.service_id=null;
        window.localStorage.clear();
        $("#wrapper").load("./home.html");
    }

</script>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="app">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">My Ummo</a>
    </div>
    <div class="collapse navbar-collapse nav nav-pills navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li><a class="menu" onclick="$('#dash-wrapper').load('./queues.html')" v-on:click="setQueuesActive" v-bind:class="{selected:queuesActive}"><i class="fa fa-bullseye"></i> Managed Qs</a></li>
            <li><a class="menu" v-on:click="setAgentActive" v-bind:class="{selected:agentsActive}" onclick="$('#dash-wrapper').load('./qmasters.html')"><i class="fa fa-tasks"></i>Agents</a></li>
            <li><a class="menu" v-on:click="setIssuesActive" v-bind:class="{selected:issuesActive}"><i class="fa fa-globe"></i>Report Issue</a></li>
            <li><a class="menu" v-on:click="setAnalytisActive" v-bind:class="{selected:analyticsActive}"><i class="fa fa-list-ol"></i>Analytics</a></li>
            <li><a class="menu"><i class="fa fa-font"></i>Admin</a></li>
            <li class="menu"><a ><i class="fa fa-font"></i>My Ummo</a></li>
            <li class="menu"><a onclick="$('#dash-wrapper').load('./create-q.html')"><i class="fa fa-user-plus"></i>Create Queue</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right navbar-user">
            <li class="dropdown messages-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Messages <span class="badge">2</span> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">2 New Messages</li>
                    <li class="message-preview">
                        <a href="#">
                            <span class="avatar"><i class="fa fa-bell"></i></span>
                            <span class="message">Security alert</span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li class="message-preview">
                        <a href="#">
                            <span class="avatar"><i class="fa fa-bell"></i></span>
                            <span class="message">Security alert</span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">Go to Inbox <span class="badge">2</span></a></li>
                </ul>
            </li>
             <li class="dropdown user-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>Ummo Grand Master<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                    <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="#" onclick="logout()"><i class="fa fa-power-off"></i> Log Out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div id="dash-wrapper">
Weclome back to your Ummo
</div>
