<!--div class="row" id="log"-->

<div id="imageDiv" style="position: relative;">
    <a class="navbar-brand" href="/">
        <img class="img-responsive img-rounded"  src="logo.jpeg" width="170" height="110"  alt="Logo">
    </a>
</div>
<div class="row">
  <div class="col-sm-2">

  </div>
<div class="mainHomeDiv col-sm-6">
    <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Welcome to Ummo - Virtual Queueing Platform
                <span class="glyphicons glyphicons-group"></span>
                </div>
            </div>

            <!--div id="login-alert" class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">X</button>
                <strong> Tip:</strong> Use your Novell credentials to login this system.
            </div-->
            <div style="padding-top:5px" class="panel-body" >
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" onclick="$('#wrapper').load('./signup.html')" >
                       <span class="glyphicon glyphicon-pencil"></span> Register
                    </button>
                  </div>
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" onclick="$('#wrapper').load('./login.html')">
                        <span class = "glyphicon glyphicon-log-in"></span> Login
                    </button>
                  </div>
                </div>
            </div>
    </div>  <!--end panel-primary-->

</div> <!--end loginbox-->
</div>
