<script type="text/javascript">
  function login(){
    window.socket.on("login-res",(res)=>res==null?throwLoginError():startSetup(res));
    window.socket.emit("login",{email:$("#inputEmail3").val(),password:$("#pass").val()});
  }
  function throwLoginError(){
    alert("Email or Password is wrong, try again");
  }
  function startSetup(res){
    window.account = res;
    window.service_id=res._id;
    window.localStorage.setItem("service_id",res._id);
    res.activated==null?$('#wrapper').load('./setup.html'):$("#wrapper").load('./dashboard.html');
  }
</script>
<div class="row">
    <style>
        #vueapp{
            border: 2px solid #00B0FF;
            border-radius: 5px;
        }
    </style>
    <div class="col-lg-3"></div>
    <div class="col-lg-6" id="vueapp">
        <div class="box box-info"  >
                <div class="box-header with-border ">
        <h3 class="box-title">Configuration Information</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal">
        <div class="box-body">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Password</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="pass" placeholder="Password">
                </div>
            </div>
            <div class="box-footer">
                <button  class="btn btn-default">Cancel</button>
                <div onclick="login()" class="btn btn-info pull-right">Sign in</div>
            </div><!-- /.box-footer -->
            </div>
        </form>
    </div>
