<script type="text/javascript">
  var newAgentForm=(function(){
    console.log("New Agent Form")
    this.cancel=function(argument) {
      // body...
      $("#popup").hide("fast")
    }

    function genCode(){
      var longCode = JSON.stringify(Date.now());
      return longCode.substring(longCode.length-4,longCode.length);
    }

    this.register=function(){
      if(!$("#name-field").val())    return toastr.error('Agent Name is Required');
      if(!$("#surname-field").val()) return toastr.error("Agent Surname is Required");
      if(!$("#email-field").val())   return toastr.error("Agent Email is Required");
      if(!$("#cell-field").val())    return toastr.error("Agent Cell is Required");
      window.socket.on("");
      window.socket.emit("agent-register",{
        service:window.service_id,
        agent:{
          ver_code:genCode(),
          fullName:{
            firstName:$("#name-field").val(),
            surName:$("#surname-field").val()
          },
          email:$("#email-field").val(),
          cell:$("#cell-field").val()
        }
      });
    }
    return this;
  })();
</script>
<div class="row">
<div class="col-sm-4"></div>
  <div id="agent-card" class="card col-sm-4">
      <h2>Agent Details</h2>
      <div class="md-form">
          <i class="fa fa-user prefix"></i>
          <input type="text" id="name-field" class="form-control">
          <label for="name-field">Agent name</label>
      </div>

      <div class="md-form">
          <i class="fa fa-user prefix"></i>
          <input type="text" id="surname-field" class="form-control">
          <label for="surname-field">Agent Surname</label>
      </div>

      <div class="md-form">
          <i class="fa fa-envelope prefix"></i>
          <input type="text" id="email-field" class="form-control">
          <label for="email-field">Email</label>
      </div>

      <div class="md-form">
          <i class="fa fa-phone prefix"></i>
          <input type="text" id="cell-field" class="form-control">
          <label for="cell-field">Cell Phone</label>
      </div>
      <div class="btn btn-primary pull-right" onclick="newAgentForm.cancel()">Close</div>
      <div class="btn btn-primary pull-left" onclick="newAgentForm.register()">Register</div>
 </div>
 <div class="col-sm-4"></div>

</div>


<style media="screen">
  #agent-card{
    background: rgba(200,200,200,1);
  }
  .pack{
    background: rgba(0, 0, 0, 0);
  }
</style>
