<script>
    new Vue({
        el:'#qmasters',
        data:{
            qmasters:[],
            selectedQMaster:{}
        },
        created:function(){
          //console.log(window.service_id);
            window.socket.on('g-qmasters',(qm)=>{
              console.log(qm);
              this.qmasters=qm.qmasters;
            });
            window.socket.emit("g-qmasters",window.service_id);
        },
        methods:{
          logQue:function(q){
            console.log(q);
          },
          selectQMaster:function(qm){
            console.log(qm);
            $("#qmpopop").show("fast");
            this.selectedQMaster=qm;
          }
        }
    });

    function genCode(){
      var longCode = JSON.stringify(Date.now());
      return longCode.substring(longCode.length-4,longCode.length);

    }



    function newAgent(){
      if(!$("#name-field").val())    return toastr.error('Agent Name is Required');
      if(!$("#surname-field").val()) return toastr.error("Agent Surname is Required");
      if(!$("#email-field").val())   return toastr.error("Agent Email is Required");
      if(!$("#cell-field").val())    return toastr.error("Agent Cell is Required");
      window.socket.on("agent-register",(_data)=>{
        $('#loadingModal').modal('hide');
        $('#doneModal').modal('show');
          window.socket.emit("g-qmasters",window.service_id);
      });
      window.socket.emit("agent-register",{
        service:window.service_id,
        agent:{
          ver_code:genCode(),
          fullName:{
            firstName:$("#name-field").val(),
            surName:$("#surname-field").val()
          },
          email:$("#email-field").val(),
          cell:$("#cell-field").val()
        }
      });
      $('#myModal').modal('hide');
      $('#loadingModal').modal('show');
    }
    </script>
<div class="container" id="qmasters">
  <div class="row">

    <div class="col-sm-6">
      <h2>Service Agents Under This Service</h2>
      <p>If there are Service Agents in This Service, They will appear here</p>
    </div>
    <div class="col-sm-6">
      <div class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#myModal">
        <i  class="fa fa-user-plus">Add Agent</i>
      </div>
    </div>

  </div>

    <div class="row">
        <div class="panel-primary col-lg-4 card" v-for="q in qmasters">
            <div class="panel-heading" v-on:click="logQue(q)">{{q.fullName.firstName}} {{q.fullName.surName}}</div>
            <div class="panel-body">
            Email: {{q.email}} </br>
            Cell:  {{q.cell}} </br>
            Active:{{q.activated==null?"No":"Yes"}}
            </div>
            <div class="">
              <div class="btn btn-primary pull-left">
                Managed Queue
             </div>

            <div class="btn btn-primary pull-right" v-on:click="selectQueue(q)">
                Delete
            </div>

          </div>
        </div>

    </div>





</div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Register Ummo Agent</h4>
            </div>
            <!--Body-->
            <div class="modal-body">
            <div>
            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input type="text" id="name-field" class="form-control">
                <label for="name-field">Agent name</label>
            </div>

            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input type="text" id="surname-field" class="form-control">
                <label for="surname-field">Agent Surname</label>
            </div>

            <div class="md-form">
                <i class="fa fa-envelope prefix"></i>
                <input type="text" id="email-field" class="form-control">
                <label for="email-field">Email</label>
            </div>

            <div class="md-form">
                <i class="fa fa-phone prefix"></i>
                <input type="text" id="cell-field" class="form-control">
                <label for="cell-field">Cell Phone</label>
            </div>
                ...
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="newAgent()">Save changes</button>
            </div>
            </div>

        </div>
        <!--/.Content-->
    </div>
</div>


<!-- /.Live preview-->



<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Working, Please wait</h4>
            </div>
            <!--Body-->
            <div class="modal-body center row">
            <div class="col-sm-4"></div>
             <div class="loader col-sm-4"></div>
            </div>
            <!--Footer-->

        </div>
        <!--/.Content-->
    </div>
</div>


 <style type="text/css">

   .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
 </style>

<!-- /.Live preview-->


<div class="modal fade" id="doneModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Registration Complete</h4>
            </div>
            <!--Body-->
            <div class="modal-body center row">
                Done
            </div>
            <!--Footer-->

               <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
            </div>

        </div>
        <!--/.Content-->
    </div>
</div>
