<script>
    new Vue({
        el:'#queues',
        data:{
            queues:[],
            qmasters:[],
            selectedQueue:{quers:[]}
        },
        created:function(){
          //console.log(window.service_id);
            window.socket.on('g-qmasters',(qm)=>{
              console.log(qm);
              this.qmasters=qm.qmasters;
            });
            window.socket.emit("g-qmasters",window.service_id);
            window.socket.on('service',(serv)=>{
              this.queues=serv.queues;
              this.queues.forEach((q)=>{
                window.socket.on("qers",(qers)=>{
                  this.queues.forEach((_q)=>{
                    if(_q._id==qers.qid) _q.quers=qers.data;
                  })
                })
                window.socket.emit("grand-quers",q._id)
                window.socket.on("qmasters",(_qmasters)=>{
                  if(q._id==_qmasters.qid)q.masters=_qmasters.data;
                  //console.log(this.queues);
                })
                window.socket.emit("get-qmasters",q._id)
              })

            });
            window.socket.emit("get-service",window.service_id);
        },
        methods:{
          logQue:function(q){
            console.log(q);
          },
          selectQueue:function(q){
            console.log(q);
            $("#qstats").show("fast");
            this.selectedQueue=q;
          },
          showAgents(q){
            this.selectedQueue=q;
              console.log(this.selectedQueue.qmasters);
              $("#doneModal").modal("show");
          },
          assignAgent:function(qm){
              var data = {qmaster:qm,queue:this.selectedQueue._id}
              console.log(data);
              window.socket.on("managed",(res)=>window.socket.emit("get-service",window.service_id))
              window.socket.emit("manage-q",data);

          }
        }
    });
</script>
<div class="container" id="queues">
  <div class="row">
    <div class="col-sm-6">
      <h2>Managed Qeueues</h2>
      <p>The Queues You Are Managing Appear here</p>
    </div>
    <div class="col-sm-6">
      <div class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#myModal">
        <i  class="fa fa-user-plus">Add A Queue</i>
      </div>
    </div>
  </div>
    <div class="row">
        <div class="panel-primary col-lg-4" v-for="q in queues">
            <div class="panel-heading" v-on:click="logQue(q)">{{q.qName}}</div>
            <div class="panel-body">

                <div class="">
                 Queue Requirements:  {{q.qRequirements}}
                </div>
                <div class="">
                  People Joined So far: {{q.joinCount}}
                </div>
                <div class="">
                  Service Time: {{q.dqTime}}
                </div>
                <div class="">
                  Queue Location {{q.location}}
                </div>

                <div class="">
                  Estimated Service Time: {{q.psst}}
                </div>
                <div class="">
                  Active?{{q.qActive}}
                </div>
                <div class="">
                  {{q.ttdq}}
                </div>
            </div>
            <div class="">
              <div class="btn btn-primary pull-left" v-on:click="showAgents(q)">
                Tellers
             </div>

            <div class="btn btn-primary pull-right" v-on:click="selectQueue(q)">
                Clients
            </div>

          </div>
        </div>

    </div>


    <div id="qstats" class="row">
        <div class="col-lg-4">

        </div>
        <div id="qstat" class="col-lg-4">
          <div class="card card-success text-xs-center z-depth-2">
      <div class="card-block">
          <p> Selected Queue:{{selectedQueue.qName}}</p>
          <p> Number of Quers:{{selectedQueue.quers.length}}</p>
          <ul>
            <li v-for="qman in selectedQueue.quers">
              {{qman.name}}
            </li>
          </ul>
          <div class="btn btn-primary pull-right" onclick="$('#qstats').hide('fast')">
              ClOSE
          </div>
      </div>
  </div>
        </div>
        <div class="col-lg-4">
        </div>
    </div>



<div class="modal fade" id="doneModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">{{selectedQueue.qName}} Agents</h4>

                <div class="btn-group pull-right">
                <button class="btn btn-danger btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  assign agent
             </button>
             <div class="dropdown-menu">
             <ul>
               <li v-for="qm in qmasters" v-on:click="assignAgent(qm._id)"> <a class="dropdown-item card" href="#">{{qm.fullName.firstName}} {{qm.fullName.surName}} </a></li>
             </ul>

              </div>
            </div>

            </div>
            <!--Body-->
            <div>
              <ul>
                <li v-for="master in selectedQueue.masters">{{master.email}}</li>
              </ul>
            </div>

               <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
            </div>

        </div>
        <!--/.Content-->
    </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Register Ummo Agent</h4>
            </div>
            <!--Body-->
            <div class="modal-body">
            <div>
            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input type="text" id="name-field" class="form-control">
                <label for="name-field">Queue Name</label>
            </div>

            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input type="text" id="surname-field" class="form-control">
                <label for="surname-field">Queue Location</label>
            </div>

            <div class="md-form">
                <i class="fa fa-envelope prefix"></i>
                <input type="text" id="email-field" class="form-control">
                <label for="email-field">What To Bring</label>
            </div>

            <div class="md-form">
                <i class="fa fa-phone prefix"></i>
                <input type="text" id="cell-field" class="form-control">
                <label for="cell-field">Estimated Service Time</label>
            </div>
                ...
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="newAgent()">Save changes</button>
            </div>
            </div>

        </div>
        <!--/.Content-->
    </div>
</div>

</div>
