<script>
        new Vue({
            el: '#signup',
            data: {
                service:{
                    _id:window.service_id,
                    name:"",
                    tel:"",
                    address:"",
                    category:""
                },
                categories:[],
                err:null
            },
            created:function () {
                window.socket.emit("get-categories","categories");
                window.socket.on("categories",(categories)=>this.categories=categories);
                window.socket.on("new-service",function (_service) {
                    console.log(_service);
                    this.err=_service;
                    if(_service=="REGISTERED"){
                        this.err="This Email is already registered, Use another one or login"
                        $("#error_message").text(this.err);
                    }
                    else{
                        window.service_id=_service._id;
                        window.localStorage.setItem("service_id",_service._id);
                        $("#wrapper").load('./dashboard.html');
                    }
                })
            },
            methods:{
                signup:function(){
                    window.socket.emit("service-setup",this.service);
                }
            }
        });

    //Probaly done with vue
</script>

<div class="row">
    <style>
        #signup{
            border: 2px solid #00B0FF;
            border-radius: 5px;
        }
    </style>
    <div class="col-lg-3"></div>
    <div class="col-lg-6" id="signup">
        <div class="box box-info"  >
                <div class="box-header with-border ">
        <h3 class="box-title">Configuration Information</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal">
        <div class="box-body">
            <div class="form-group">
                <div id="error_message"   class="danger">{{err}}</div>
            </div>
            <div class="form-group">
                <label for="inputService" class="col-sm-3 control-label">Srvice name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputService" v-model="service.name" placeholder="Service Name">
                </div>
            </div>
            <div class="form-group">
                <label for="inputService" class="col-sm-3 control-label">Physical Address</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputService" v-model="service.address" placeholder="Physical Address">
                </div>
            </div>
            <div class="form-group">
                <label for="inputService" class="col-sm-3 control-label">Telephone Number</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputService" v-model="service.tel" placeholder="Telephone Number">
                </div>
            </div>
            <div class="form-group">
                <label for="inputCategory" class="col-sm-3 control-label">Category</label>
                <div class="col-sm-9">
                    <select id="INPUTCATEGORY" class="form-control" v-model="service.category">
                        <option v-for="cat in categories" v-bind:value="cat.name">{{cat.name}}</option>
                    </select>
                </div>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-default">Cancel</button>
                <DIV type="submit" class="btn btn-info pull-right" v-on:click="signup">Sign up</DIV>
            </div><!-- /.box-footer -->
        </div>
    </form>
</div>
