
<div class="row">
    <style>
        #signup{
            border: 2px solid #00B0FF;
            border-radius: 5px;
        }
    </style>
    <div class="col-lg-3"></div>
    <div class="col-lg-6" id="signup">
        <div class="box box-info"  >
                <div class="box-header with-border ">
        <h3 class="box-title">Open Your Email to complete Registration</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
  </div>
</div>

</div>
