<script>
        new Vue({
            el: '#signup',
            data: {
                service:{
                    email:"",
                },
                categories:[],
                err:null
            },
            created:function () {
                window.socket.emit("get-categories","categories");
                window.socket.on("categories",(categories)=>this.categories=categories);
                window.socket.on("new-service",function (_service) {
                    console.log(_service);
                    this.err=_service;
                    if(_service=="REGISTERED"){
                        this.err="This Email is already registered, Use another one or login"
                        $("#error_message").text(this.err);
                    }

                    else{
                        //window.service_id=_service._id;
                        //window.localStorage.setItem("service_id",_service._id);
                        $("#wrapper").load('./sighnup.html');
                    }
                })
            },
            methods:{
                signup:function(){
                    window.socket.emit("service-register",this.service);
                }
            }
        });

    //Probaly done with vue
</script>

<div class="row">
    <style>
        #signup{
            border: 2px solid #00B0FF;
            border-radius: 5px;
        }
    </style>
    <div class="col-lg-3"></div>
    <div class="col-lg-6" id="signup">
        <div class="box box-info"  >
                <div class="box-header with-border ">
        <h3 class="box-title">Configuration Information</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal">
        <div class="box-body">
            <div class="form-group">
                <div id="error_message"   class="danger">{{err}}</div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-sm-3 control-label">Email</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputEmail" placeholder="Email" v-model="service.email">
                </div>
            </div>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-default">Cancel</button>
                <DIV type="submit" class="btn btn-info pull-right" v-on:click="signup">Sign up</DIV>
            </div><!-- /.box-footer -->
        </div>
    </form>
</div>
