#qstats{
  display: none;
  position: fixed;
  top:30%;
  height: 100%;
  width: 100%;
}

#qstat{
background: #fff;
color: #000;
}

#popup{
  z-index: 1500;
  display: none;
  background: rgba(255, 255, 1);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left:0;
}

#popup div{
}
