<template>
  <div id="app">
  </div>
</template>

<script>
import {mapActions,mapGetters,mapState,mapMutations} from 'vuex'
export default {
  name: 'app',
  computed:mapState(['booking','queue','user','agent','service'])
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
